<h4>Hakkımda</h4>

<div class="row">
    <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
               aria-controls="v-pills-home" aria-selected="true">Kişisel Bilgilerim</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
               aria-controls="v-pills-profile" aria-selected="false">Eğitimlerim</a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
               aria-controls="v-pills-messages" aria-selected="false">İş Tecrübelerim</a>

        </div>
    </div>
    <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <img src="/images/grood.jpg" height="200px" alt="Logo" style="float:left" class="mx-2 my-2">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque in eos quasi exercitationem expedita
                    delectus
                    odit alias fugiat.
                    Vitae voluptatum culpa veritatis blanditiis inventore natus quisquam dignissimos magnam, voluptatibus
                    corrupti.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Harum sit nam ipsa magni tenetur soluta quae tempora totam voluptates, officia ea inventore debitis,
                    reprehenderit non consectetur veritatis odit temporibus suscipit.
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione at placeat magnam ad.
                    Dolores libero neque numquam? Ipsum, ea dignissimos totam laboriosam est rerum optio, corrupti ex,
                    officiis
                    numquam velit.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium, amet aliquid nostrum mollitia est
                    repellat explicabo sequi omnis dolorem sapiente.
                    Possimus dolorum ratione fugit similique, assumenda eveniet consequuntur inventore nam?
                </p>
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                ...
            </div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                ...
            </div>
        </div>
    </div>
</div>
